#movie-img {
  padding: 20px;
}

#backbutton {
  margin-top: 20px;
  
}

#div-description {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.col-md-8 {
  text-align: center;
  margin: auto;
}

.btn-secondary {
 margin: 20px;
}

.button-div {
  display: flex;
  justify-content: center;

}

