.navbar {
  background-color: rgb(12, 107, 138);
  color: white;
}

.navbar-light .navbar-brand {
  color: white !important;
}

.nav-link {
  color: white !important;
}

.mylogo {
  height: 50px;
}

@media only screen and (max-width: 480px) {
  .mylogo {
    height: 25px;
  }

  .navbar-light .navbar-brand {
    font-size: 16px !important;
  }

  .nav-link {
    font-size: 12px !important;
  }
}
