@import "~bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Lora&family=Playfair+Display&display=swap");

body {
  font-family: "Lora", serif !important;
  // color: white !important;
  // background-color: rgb(12, 107, 138) !important;
}

.btn {
  margin-bottom: 20px;
}

.btn-primary {
  background-color: rgb(12, 107, 138) !important;
  border-color: rgb(12, 107, 138) !important ;
}

.btn-link {
  color: rgb(12, 107, 138) !important;
}

.container {
  width: 100% !important;
  margin: 0 !important;
  max-width: 100% !important;
}
